@mainColor: #d74d5f;
@headerTextColor: #FFF;
@mainBlockBgColor: #FFF;
@mainBlockTextColor: #877e79;
@mainBlockBorderColor: #fbfbfb;
@mainBgColor: #FFF;
@mainIconColor: #fc431d;
@navTextColor: #f2f0ef;
@navBgColor: #413f40;
@navActiveBgColor: #d5415a;
@navBorderColor: #efefef;
@noticeTextColor: #2e2e2e;
@noticeTipTextColor: #bb5959;
/* icons */
@iconBlue: #3b8bdf;
@iconRed: #fa6456;
@iconGreen: #43c129;
@iconYellow: #eccf3d;
/* common ele */
@checkBoxBorderColor: #D1D1D1;
@checkBoxBgColor: #FFFFFF;
@agreeTextColor: #999999;
@agreeLinkColor: #586C94;
/* index */
@indexBgColor: #f4f6f3;
@white: #fff;
@indexBlockBorderColor: #e4e4e4;

.iconBlue{
	color: @iconBlue !important;
}

.iconRed{
	color: @iconRed !important;
}

.iconGreen{
	color: @iconGreen !important;
}

.iconYellow{
	color: @iconYellow !important;
}

.iconMain{
	color: @mainColor;
}