.mT232{
	.mt(200);
}
.mB51{
	.mb(90);
}
.main{
	padding: 0;
	.min-h(400);
	background: @mainBgColor;
	ul{
		margin: 0;
		padding: 0;
		display: flex;
		border-bottom: 1px solid @mainBlockBorderColor;
		&:last-child{
			border-width: 0;
		}
		li{
			flex: 1;
			list-style: none;
			border-right: 1px solid @mainBlockBorderColor;
			.pt(20);
			.pb(20);
			&:last-child{
				border-width: 0;
			}
			div{
				margin: 0 auto;
				.w(64);
				.h(64);
				//background: @mainBlockBgColor;
				// border-radius: 50%;
				background: @mainBgColor;
				.iconfont{
					display: block;
					margin: 0 auto;
					color: @mainIconColor;
					.lh(64);
					.fs(36);
				}
				& ~ span{
					display: block;
					//.mt(10);
					.mb(10);
					.fs(13);
					color: @mainBlockTextColor;
					font-weight: 500;
					letter-spacing: 1px;
				}
				&.transparent{
					// border-radius: 50%;
					// .pt(5);
					// .pb(5);
					// .pl(5);
					// .pr(5);
				}
			}
			&.pending{
				*{
					visibility: hidden;
				}
			}
		}
	}
	.notice{
		display: flex;
		flex-direction: column;
		color: @noticeTextColor;
		.pt(20);
		.pb(20);
		.pl(15);
		.pr(15);
		.fs(16);
		>div.row{
			display: flex;
			flex-direction: row !important;
			display: flex;
			.lh(32);
			>span{
				&:first-child{
					.pr(15);
				}
			}
			.excerpt{
				padding-left: 0 !important;
			}
			&.tip{
				color: @noticeTipTextColor;
			}
			&:last-child{
				>span{
					.fb(280);
				}
			}
		}
		.iconfont{
			vertical-align: middle;
		}
	}
}